<div class="AffichePhoto1">
    <div class="AffichePhoto">
        <div id="afficheImage"></div>
     
            <figure>
              <a href="src/img/imgUsers/{{ image.img_nom }}.{{ image.img_type}}" class="twpop">
                <img src="src/img/imgUsers/{{ image.img_nom }}.{{ image.img_type}}" alt="Image" class="img-sensible">
            </a>
              <figcaption>{{ image.img_nom }}<br />{{ image.img_desc }}</figcaption>
            </figure>
        </div>
    </div>
</div>